<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <h1>HELLLOOOO<h>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= "#{"$"}#{product.price}" %>
  </td>

  <td>
    <%= "#{"$"}#{product.price * quantity}" %>
  </td>

</tr>
